
{% extends 'base.html.twig' %}

{% block title %}Rejestracja!{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col">
            <h1 class="">Tworzenie konta</h1>
            <div class="">
                <img src="https://robohash.org/admin2@example.com" class="img-responsive thumbnail">
            </div>
        </div>

        <div class="form-regrister col-md-5 float-right mt-5 mr-5">
            {{ form_start(registrationForm) }}
                <div class="form-row ">
                    <div class="col-md-6 mb-4">
                        {{ form_row(registrationForm.firstName) }}
                    </div>
                    <div class="col-md-6 mb-4">
                        {{ form_row(registrationForm.lastName) }}
                    </div>
                </div>
        
                <div class="form-row">
                    <div class="col-md-12 mb-4">
                        {{ form_row(registrationForm.email) }}
                    </div>
                </div>
        
                <div class="form-row">
                    <div class="col-md-6 mb-4">
                        {{ form_row(registrationForm.plainPassword) }}
                    </div>
                    <div class="col-md-6 mb-4">
                        {{ form_row(registrationForm.secondPassword) }}
                    </div>
                </div>
        
                <div class="form-row">
                    <div class="col-md-8 mb-3 ml-4">
                        {{ form_row(registrationForm.agreeTerms) }}
                    </div>
            
                    <button class="btn btn-outline-secondary col pull-right" type="submit">
                        Zarejestruj się
                    </button>
                </div>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}

