
{% extends 'security/_base.html.twig' %}

{% block security_title %}{{ title }}{% endblock %}

{% block security_content %} security-section__content--regrister{% endblock %}

{% block security_image %}
    <img src="{{ asset('images/thumbs/security/regrister.png') }}" class="security-section__image--regrister" alt="Zdjęcie rejestracji">
{% endblock %}

{% block security_wrapper %}security-section__wrapper--regrister col-md-5 float-right{% endblock %}

{% block security_body %}
    <div class="form-regrister">
        {{ form_start(registrationForm) }}
            <div class="form-row ">
                <div class="col-md-6 mb-4">
                    {{ form_row(registrationForm.firstName) }}
                </div>
                <div class="col-md-6 mb-4">
                    {{ form_row(registrationForm.lastName) }}
                </div>
            </div>
    
            <div class="form-row">
                <div class="col-md-12 mb-4">
                    {{ form_row(registrationForm.email) }}
                </div>
            </div>
    
            <div class="form-row">
                <div class="col-md-6 mb-4">
                    {{ form_row(registrationForm.plainPassword.first) }}
                </div>
                <div class="col-md-6 mb-4">
                    {{ form_row(registrationForm.plainPassword.second) }}
                </div>
            </div>
    
            <div class="form-row">
                <div class="col-md-8 mb-3 ml-4">
                    {{ form_row(registrationForm.agreeTerms) }}
                </div>
  
                <button class="btn btn-outline-secondary col pull-right" type="submit">
                    Zarejestruj się
                </button>
            </div>
        {{ form_end(registrationForm) }}

        {% include "inc/modal.html.twig" %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    {{ encore_entry_script_tags('regrister') }}
{% endblock %}
