<div class="nav-small">
    <span class="btn-x">
        <span class="btn-x_middle"></span>
    </span>
</div>

<nav class="nav btn-x_content {% if app.request.get('_route') != 'app_homepage' %}nav-background-color{% endif %} {{ app.session.flashbag.peek('success')|length > 0 ? '' : '' }}">
    <ol class="nav-list">  
        <li class="nav-left logo">
            <a href="{{ path('app_homepage') }}">
                {% include "inc/logo.html.twig" %}
            </a>
        </li>
                
        <li class="nav-section dropdown">
            <div class="nav-link nav-bind">Podopieczni
                <i class="fa fa-caret-right"></i>
            </div>
            <ul class="nav-subsection dropdown-menu"> 
               {#} <li class="nav-item">
                    <a class="nav-link" href="{{ path('animal_show', {category: 1}) }}">Koty</a>
                </li>
                <li class="nav-item"> 
                    <a class="nav-link" href="{{ path('animal_show', {category: 2}) }}">Psy</a>
                </li>
                <li class="nav-item"> 
                    <a class="nav-link" href="{{ path('animal_show', {category: 3}) }}">Inne zwierzęta</a>
                </li>  {#}
            </ul>   
        </li>
        
        <li class="nav-section">
            <a class="nav-link nav-bind" href="{{ path('articles_show') }}" >Artykuły</a>
        </li>

        <li class="nav-section dropdown">
            <div class="nav-link nav-bind">Tak działamy
                <i class="fa fa-caret-right"></i>
            </div>
            <ul class="nav-subsection dropdown-menu"> 
                <li class="nav-item">
                    <a href="/#about-us" class="nav-link" id="about-us-link">O nas</a>
                </li>
                <li class="nav-item nav-section"> 
                    <div class="nav-link nav-bind">Procedura adopcyjna
                        <span class="icon icon-toggle">
                            <i class="fas fa-arrow-right dropdown-nav"></i>
                        </span>                        
                    </div>
                    <ul class="nav-subsection nav-toggle ">
                        <li class="nav-item">
                            <a class="nav-link" href="/s-wizyta-przedadopcyjna">Wizyta przedadopcyjna</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/s-umowa-adopcyjna">Umowa adopcyjna</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/s-ankieta-kot">Ankieta kot</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/s-ankieta-pies">Ankieta pies</a>
                        </li>
                    </ul>
                </li>
            </ul> 
        </li>

        <li class="nav-section dropdown">
            <div class="nav-link nav-bind">WSPIERAM FZN
                <i class="fa fa-caret-right"></i>
            </div>
            <ul class="nav-subsection dropdown-menu"> 
                <li class="nav-item">
                    <a class="nav-link" href="/#volunteering" id="volunteering-link">Wolontariat</a>
                </li>
                <li class="nav-item"> 
                    <a class="nav-link" href="/s-domy-tymczasowe">Domy Tymczasowe</a>
                </li>
                <li class="nav-item"> 
                    <a class="nav-link" href="/#transfer" id="transfer-link">Przelewy na Fundację</a>
                </li>
            </ul> 
        </li>
        <li class="nav-section">
            <a class="nav-link nav-bind" href="/contact">Kontakt</a>
        </li>

        {% if is_granted('ROLE_USER') %}
            <li class="nav-section nav-user__section dropdown">
                <div class="nav-avatar">
                    <i class="fa fa-users-cog icon-avatar"></i>
                </div>
                <ul class="nav-subsection nav-user__subsection">
                    <div class="nav-user__subsection--content">

                        <div class="nav-user__profile row">
                            <div class="nav-user__profile-avatar col-3 left">
                                {% if avatar|default %}
                                    <img src="" alt="Avatar" class="icon-avatar">
                                {% else %}
                                    <i class="fa fa-users-cog icon-avatar"></i>
                                {% endif %}
                            </div>
                            <div class="nav-user__profile-account col-8 right">
                                <div class="nav-user__profile-email">
                                    {% if email|default %}
                                        {{ email }}
                                    {% endif %}
                                </div>
                                <div class="nav-user__profile-name">
                                    {% if firstname|default and lastname|default %}
                                        {{ firstname }} {{ lastname }}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
    
                        {% if is_granted('ROLE_ADMIN_ARTICLE') %}
                            <li class="nav-user__link">
                                <a href="{{ path('admin_article_list') }}" class="btn btn-blue btn-block">
                                    <i class="fa fa-book float-left" title="Artykuły"></i>
                                     Artkuły
                                </a>
                            </li>
                        {% endif %}

                       {#} {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-user__link">
                                <a href="{{ path("admin_dashboard") }}" class="btn btn-blue btn-block">
                                    <i class="fa fa-tools" title="Panel administratora"></i>
                                    Panel administratora
                                </a>
                            </li>
                        {% endif %} {#}

                        <li class="nav-user__link">
                            <a href="{{ path('app_account') }}" class="btn btn-blue btn-block">
                                <i class="fa fa-street-view float-left" title="Panel użytkownika"></i>
                                Panel użytkownika
                            </a>
                        </li>

                        <li class="nav-user__link">
                            <a href="{{ path('file_manager') }}" class="btn btn-blue btn-block">
                                <i class="fas fa-photo-video float-left" title="Manager zdjęć"></i>
                                Manager zdjęć
                            </a>
                        </li>

                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-user__link">
                                <a href="{{ path("admin_dashboard") }}" class="btn btn-blue btn-block">
                                    <i class="fas fa-users-cog float-left" title="Użytkownicy"></i>
                                    Użytkownicy
                                </a>
                            </li>
                        {% endif %}

                        <li class="nav-user__link">
                            <a href="{{ path('admin_animal_list') }}" class="btn btn-blue btn-block">
                                <i class="fas fa-frog float-left" title="Zwierzęta"></i>
                                Zwierzęta
                            </a>
                        </li>
    
                        <li class="nav-user__link">
                            <a href="{{ path('app_logout') }}" class="btn btn-orange btn-block">
                                <i class="fas fa-sign-out-alt float-left" title="Wyloguj się"></i>
                                Wyloguj się
                            </a>
                        </li>
    
                        <li class="nav-user__link nav-user__social">
                            <a href="https://facebook.com/FundacjaZwierzetaNiczyje/?ref=m_notif&notif_t=group_highlights" class="social-icon"
                                target="_blank">
                                <i class="fab fa-facebook-square icon-facebook icon-link fa-lg"></i>
                            </a>
    
                            <a href="https://instagram.com/fundacja_zwierzeta_niczyje?utm_source=ig_profile_share&igshid=1joz9gcb9eiem"
                                class="social-icon" target="_blank">
                                <i class="fab fa-instagram icon-instagram icon-link fa-lg"></i>
                            </a>
                        </li>
                    </div>
                </ul>
            </li>
        {% else %}
            <div class="icon icon-nav nav-right">        
                <a href="https://facebook.com/FundacjaZwierzetaNiczyje/?ref=m_notif&notif_t=group_highlights" class="social-icon"  target="_blank">
                    <i class="fab fa-facebook-square icon-facebook icon-link icon-social"></i>
                </a>                           
                <a href="https://instagram.com/fundacja_zwierzeta_niczyje?utm_source=ig_profile_share&igshid=1joz9gcb9eiem" class="social-icon" target="_blank">
                    <i class="fab fa-instagram icon-instagram icon-link icon-social"></i>
                </a>

                {% if app.request.get('_route') == 'app_login' %}
                    <a href="{{ path('app_register') }}" class="social-icon">
                        <i class="fa fa-user-plus icon-link icon-social"></i>
                    </a>
                {% else %}
                    <a href="{{ path('app_login') }}" class="social-icon">
                        <i class="fa fa-user icon-link icon-social"></i>
                    </a> 
                {% endif %}             
            </div>
        {% endif %}
    </ol>	     
</nav>	



