{% extends 'animal_admin/_base.html.twig' %}

{% block dashboard_title %}Lista zwierząt{% endblock %}

{% block dashboard_adding_btn %}
    <a href="{{ path('admin_animal_new')}}" class="dashboard-section__adding-btn btn btn-outline-secondary">
        <i class="fas fa-plus-circle"></i>
    </a>
{% endblock %}

{% block dashboard_body %}
    <article>
        {% if animals %}
            <table class="table table-dark" id="example">

                <thead>
                    <tr>
                        <th>Imię<i class="caret-down"></i></th>
                        <th>Rodzaj<i class="caret-down"></i></th>
                        <th>Data dodania<i class="caret-down"></i></th>
                        <th>Data przyjęcia<i class="caret-down"></i></th>
                        <th>Status<i class="caret-down"></i></th>
                        <th>Akcja <i class="caret-down"></i></th>
                    </tr>
                </thead>
                <tbody>
                    {% for animal in animals %}
                    <tr>
                        <td class="col-2 color-blue"><b>{{ animal.name }}</b></td>
                        <td class="text-center">
                            {% if animal.category == 'cat' %}
                            <i class="cat fa-2x" title="Kot"></i>
                            {% elseif animal.category == 'dog' %}
                            <i class="dog fa-2x" title="Pies"></i>
                            {% else %}
                            <i class="themeisle fa-2x" title="Inne zwierzę"></i>
                            {% endif %}
                            <hr>
                            <form method="POST" action="/animal/category/{{ animal.id }}">
                                <select name="category">
                                    <option {% if animal.category == 'cat' %} selected="selected" {% endif %} value="cat">Kot
                                    </option>
                                    <option {% if animal.category == 'dog' %} selected="selected" {% endif %} value="dog">Pies
                                    </option>
                                    <option {% if animal.category == 'other' %} selected="selected" {% endif %} value="other">
                                        Inne</option>
                                </select>
                                <button type="submit" class="btn-radius"><i class="check-circle icon-btn"></i></button>
                            </form>
                        </td>
                        <td class="text-center">{{ animal.date|date("Y-m-d") }}</td>
                        <td class="text-center">{{ animal.date_adoption|date("Y-m-d") }}</td>
                        <td class="text-center">
                            {% if animal.active == 1 %}
                            <span class="icon" title="Status aktywny">
                                <i class="check-circle fa-lg" style="color: green;"></i>
                            </span>
                            {% else %}
                            <span class="icon" title="Status nieaktywny">
                                <i class="times-circle fa-lg" style="color: red;"></i>
                            </span>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            <a href="/animal-{{ animal.id }}" class="btn btn-dark btn-radius" title="Pokaż"> <i
                                    class="book-open"></i></a>


                            <a href="/animal/edit/{{ animal.id }}" class="btn btn-blue btn-radius" title="Edytuj"><i
                                    class="edit"></i></a>

                            {% if animal.active == 1 %}
                            <a href="/animal/status-0-{{ animal.id }}" class="btn btn-dark btn-radius"
                                title="Zmień status na nieaktywny">
                                <i class="times-circle" style="color: red;"></i>
                            </a>
                            {% else %}
                            <a href="/animal/status-1-{{ animal.id }}" class="btn btn-dark btn-radius"
                                title="Zmień status na aktywny">
                                <i class="check-circle" style="color: green;"></i>
                            </a>
                            {% endif %}

                            <a href="#" class="btn btn-orange btn-radius delete" data-id="{{ animal.id }} " data-where="animal"
                                title="Usuń"> <i class="trash-alt" data-id="{{ animal.id }} " data-where="animal"></i></a>
                            <a href="/animal/images/{{ animal.id }}" class="btn btn-orange btn-radius"
                                data-animal="{{ animal.id }}" title="Dodaj zdjęcia"> <i class="share-square"
                                    data-animal="{{ animal.id }}"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No animals to display</p>
        {% endif %}
    </article>
{% endblock %}