{% extends 'account/_base.html.twig' %}

{% block dashboard_title %}{{ title }}{% endblock %}

{% block dashboard_adding_btn %}

{% endblock %}

{% block account_body %}
    <div class="account-section">
        <div class="account-section__menu">
            <div class="account-section__menu--info">
                <div class="col-md-2 no-pad">
                    <a href="{{ path('app_account_change', {slug: 'avatar'})}}" title="Zmień avatara">
                        <img src="{{ app.user.avatarUrl }}" class="account-section__menu--info-image">
                    </a>
                </div>

                <div class="account-section__menu--info-panel">
                    <h3 class="account-section__menu--info-panel-h3">
                        Witam z powrotem, <em>{{ app.user.firstName }} </em>
                    </h3>
                    <p class="account-section__menu--info-panel-p"><b>E-Mail:</b> {{ app.user.email }}</p>
                    <p class="account-section__menu--info-panel-p"><b>Typ konta:</b> {{ app.user.role }}</p>
                </div>
            </div>
            
            <div class="account-section__menu--profile">
                {% block profile_body %}
                    
                {% endblock %}
            </div>
           <div class="account-section__menu--add">
               <div class="account-section__menu--add-content">
                    <b>Dodane artykuły:</b> 
                   {% for article in app.user.articles %}
                        <a href="{{ path('article_show', {slug: article.slug})}}" class="account-section__menu--add-content-a">
                            {{ article.title }} 
                        </a>
                   {% endfor %}
               </div>
   
               <div class="account-section__menu--add-content">
                    <b>Dodane zwierzęta:</b>
                   {% for animal in app.user.animals %}
                        <a href="{{ path('animal_show', {id: animal.id})}}"class="account-section__menu--add-content-a">  
                            {{ animal.name }}
                        </a>

                   {% endfor %}
               </div>
           </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
{{ parent() }}

{{ encore_entry_link_tags('account') }}
{% endblock %}