<nav class="sidebar sidebar-dashboard" id="sidebar__dashboard">
    <div class="sidebar__header"></div>
    <ul class="sidebar__list--ul">
        {% if is_granted('ROLE_ADMIN') %}
            <li class="sidebar__list--first-li">
                <a href="{{ path("admin_dashboard") }}" class="sidebar__list--link">
                    <i class="fa fa-tools sidebar__list--icon"></i>
                    <span class="sidebar__list--dashboard-text-name">
                        Admin
                    </span>
                </a>
            </li>
        {% endif %}

        <li class="sidebar__list--first-li">
            <a href="{{ path('app_account') }}" class="sidebar__list--link">
                <i class="fa fa-user-cog sidebar__list--icon"></i>
                <span class="sidebar__list--dashboard-text-name">
                    Konto
                </span>
            </a>
        </li>

        {% if is_granted('ROLE_ADMIN_ARTICLE') %}
            <li class="sidebar__list--first-li">
                <a href="{{ path('admin_article_list') }}" class="sidebar__list--link">
                    <i class="fa fa-book sidebar__list--icon"></i>
                    <span class="sidebar__list--dashboard-text-name">
                        Artykuły
                    </span>
                </a>
            </li>

            <li class="sidebar__list--first-li">
                <a href="{{ path('admin_article_new') }}" class="sidebar__list--link">
                    <i class="fab fa-creative-commons-share sidebar__list--icon"></i>
                    <span class="sidebar__list--dashboard-text-name">
                        Dodaj artykuł
                    </span>
                </a>
            </li>
        {% endif %}
    
        <li class="sidebar__list--first-li">
            <a href="{{ path("dashboard_workout") }}" class="sidebar__list--link">
            <i class="fas fa-street-view sidebar__list--icon"></i>
                <span class="sidebar__list--dashboard-text-name">
                    Panel treningowy
                </span>
            </a>
        </li>
    </ul>
</nav>
