{{ form_start(articleForm) }}
    {{ form_row(articleForm.title) }}

    <div class="row">
        <div class="col-sm-8 custom-file mb-5">
            {{ form_row(articleForm.imageFile) }}
        </div>

        <div class="col-sm-4">
            {% if articleForm.vars.data.imageFilename|default %}
                <a href="{{ uploaded_asset(articleForm.vars.data.imagePath) }}" target="_blank">
                    <img src="{{ articleForm.vars.data.imagePath|imagine_filter('squared_thumbnail_small') }}" height="100">
                </a>
            {% endif %}
        </div>
    </div>

    {{ form_row(articleForm.author) }}

    {{ form_row(articleForm.location) }}

    <div class="specific-location-target">
        {% if articleForm.specificLocationName is defined %}
            {{ form_row(articleForm.specificLocationName) }}
        {% endif %}
    </div>

    {{ form_row(articleForm.content) }}

    {% if articleForm.publishedAt is defined %}
        {{ form_row(articleForm.publishedAt) }}
    {% endif %}

    <button type="submit" class="btn btn-outline-secondary">
        {{ button_text }}
    </button>

    <a href="{{ path('admin_article_list') }}" class="btn btn-outline-secondary">
        <i class="fa fa-share"></i>
    </a>
{{ form_end(articleForm) }}